/*smooth scroll to anchors */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  left: 1rem;
  top: 1rem;
}

/*headings*/
h1,
h2,
h3 {
  font-size: 2.5rem;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-shadow: 0.2em 0.1em 0.1em darkgrey;
}
p {
  font-size: 1.5rem;
}
dt {
  font-weight: bolder;
  font-size: 1rem;
  text-align: left;
  line-height: 2rem;
}
dd {
  font-size: 1rem;
  color: black;
}
dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
/*End*/
span {
  font-weight: bold;
}
section {
  width: 90%;
  margin-left: 5%;
}
tr {
  font-size: 1.1rem;
  color: #93772e;
  line-height: 3rem;
  background: whitesmoke;
}
th {
  font-size: 2rem;
  background: black;
  opacity: 1.7;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
Caption {
  color: #93772e;
  font-size: 3rem;
  background: black;
  opacity: 0.7;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
ul {
  list-style-type: none;
  float: left;
  cursor: pointer;
  text-align: left;
  color: black;
}

.footer_list_copyright li {
  display: inline;
}
footer {
  background-color: #93772e;
  height: 10rem;
}

.promo_link {
  color: #93772e;
}
/* Nav buttons for controls */
.nav_btn_img {
  text-decoration: none;
  transition: transform 3s;
}
.nav_btn_img:hover {
  transform: rotatex(360deg);
}
#context_heading {
  font-size: 2rem;
}
select {
  background-color: transparent;
  border: transparent;
  font-weight: bold;
}

/*Navbar look*/
.navbar {
  overflow: hidden;
  background-color: darkslateblue;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  height: auto;
}
/*container for dropdown in headers navbar*/
.dropDwn_container {
  overflow: hidden;
}
/* Dropdown button */
.dropDwn_container .btn_dropDwn {
  font-size: 0.2rem;
  float: left;
  outline: none;
  border: none;
  color: white;
  padding: 0.875rem 1rem;
  background-color: darkslateblue;
  font-family: inherit; /* mobile optimisation*/
  margin: 0; /* mobile optimisation */
  cursor: pointer;
}
.btn_icon {
  width: 1rem;
  height: 0.2rem;
  background-color: white;
  margin: 0.2rem;
}
/*color dropdown is highlighted when hovered over*/
.dropDwn_container:hover .btn_dropDwn {
  background-color: rgba(0, 0, 0, 0.043);
}

/*  dropdown content    */
.dropDwn_content {
  display: none;
  position: absolute;
  background-color: rgba(
    71,
    61,
    139,
    0.464
  ); /*background color of the content block*/
  min-width: 10rem; /*wont shrink smaller then this size*/
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(243, 243, 243, 0.642);
  z-index: 2;
  border-radius: 1rem;
  left: 1.4rem;
  top: 0rem;
  cursor: pointer;
}
/* links inside the dropdown   */
.dropDwn_content a {
  float: none;
  color: white;
  padding: 0.865rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
  scroll-behavior: smooth;
}
/*how dropdown menu is revealed when hovering, the content within the container is the target */
.dropDwn_container:hover .dropDwn_content {
  display: block;
}
/*Hero container and picture*/
.hero {
  width: 100%;
  height: auto;
}
.hero_title {
  position: absolute;
  top: 10%;
  left: 40%;
  font-size: 3rem;
  color: darkmagenta;
}
/*about us section*/
.block_text_profile {
  height: auto;
  width: 100%;
  align-content: center;
  font-size: 1.3rem;
  color: black;
  text-align: center;
  border-radius: 0.2rem;
  overflow: scroll;
}
.block_text_profile h1 {
  font-size: 3rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.profile_image_container {
  background-color: #93772e;
  overflow: auto;
  white-space: nowrap;
  padding: 0.625rem;
  border: 3px solid black;
}
div .profile_image_container img {
  padding: 0.525rem;
}

/* container and image with slide function that holds information*/
/*flex container*/
.flex_container {
  display: flex;
  flex-wrap: wrap;
  background-color: ghostwhite;
  width: 90%;
  margin-left: 5%;
}
.flex_container > div {
  margin-left: 0rem;
  margin-right: 0rem;
  padding-bottom: 1.5rem;
}
.flex_container2 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 90%;
  margin-left: 5%;
}
.flex_container2 > div {
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0rem;
}
.intro_image_container {
  height: 20rem;
  width: 18.75rem;
  background-color: pink;
  position: relative;
  top: 1rem;
  border: 4px double rgba(215, 192, 192, 0.78);
}
.intro_image {
  display: block;
  width: 100%;
  height: 100%;
}

/* heading section for first heading*/
#heading_product_sec1 {
  width: 100%;
  height: auto;
  border-top: 0.6rem double pink;
  border-bottom: 0.6rem double pink;
  text-align: center;
  position: relative;
  top: 1.2rem;
  left: 0rem;
}
/*context boxes*/

.product_context {
  display: block;
  height: auto;
  width: 100%;
  background-color: ghostwhite;
  color: black;
  border-top: 0.2rem double black;
  border-bottom: 0.2rem double black;
  margin-top: 6rem;
  font-size: 1.3rem;
  box-shadow: 0.8rem 0.8rem 1rem black;
  transition: box-shadow 2s ease;
  margin-right: 2.2rem;
  margin-left: 5rem;
  overflow: hidden;
}

.product_context:hover {
  box-shadow: none;
}
/*End of the first content boxes*/
/*mobile adaptation context boxes*/

/*contact us button*/
.email_button {
  padding: 0.5rem 0.05rem;
  border: 1px solid black;
  background-color: #93772e;
  color: ghostwhite;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 2s ease-in-out, box-shadow 3s ease-in-out,
    color 2s;
  -webkit-transition: background-color 2s ease-in-out, box-shadow 3s ease-in-out,
    color 2s;
  -o-transition: background-color 2s ease-in-out, box-shadow 3s ease-in-out,
    color 2s;
  -moz-transition: background-color 2s ease-in-out, box-shadow 3s ease-in-out,
    color 2s;
  font-weight: bold;
}
.email_button:hover {
  background-color: ghostwhite;
  color: #93772e;
  box-shadow: none;
}
/*End*/
/*context box 2*/

.product_image_container:hover {
  box-shadow: none;
}
/*end of content box 2*/
/* images within flex*/
.product_image_container {
  height: auto;
  max-width: 100%;
  background-color: transparent;
  position: relative;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  top: -1rem;
  left: -0.25rem;
  border: 4px double transparent;
  transition: box-shadow 2s ease-in-out;
  align-content: center;
  border-radius: 10%;
  overflow: hidden;
}
.product_image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

/*galleries*/
div.scroll-container {
  background-color: whitesmoke;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
div.scroll-container img {
  padding: 10px;
}
.table_subTitles {
  color: black;
  font-weight: bold;
}
.table_offers {
  font-weight: bold;
}

/*mobile optimisation*/
@media screen and (max-width: 37.5rem) {
  .block_text_profile {
    font-size: 0.5rem;
  }
}
/*faq section*/
dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
#faq_heading {
  text-align: center;
}
.block_faq_container {
  display: block;
  margin-top: 3rem;
  height: auto;
  width: 99%;
  border: 0.6rem double black;
  margin-bottom: 1rem;
  text-align: left;
  background-color: #93772e;
  color: white;
}
.media_icons {
  float: right;
}
/*END*/

/*socials*/
.flex_container_social {
  display: flex;
  flex-wrap: wrap;
  background-color: ghostwhite;
  width: 90%;
  margin-left: 5%;
}
.flex_container_social > div {
  margin-left: 0rem;
  margin-right: 0rem;
}
.tiktok-embed {
  height: 29rem;
  width: 100%;
  border: 7px solid #93772e;
  margin-right: 1rem;
  float: center;
}
.tiktok {
  width: 100%;
}
.instagram-media {
  height: 40rem;
  float: left;
}
.insta_flex1,
.insta_flex2,
.insta_flex3 {
  border: 4px outset transparent;
  background: transparent;
  width: 100%;
  float: left;
}
.flex_container_social2 {
  display: flex;
  flex-wrap: wrap;
  background-color: ghostwhite;
  width: 90%;
  justify-content: center;
  margin-left: 5%;
}
.flex_container_social2 > div {
  margin-left: 0rem;
  margin-right: 0rem;
}
.product_pricing {
  background: black;
  opacity: 0.7;
  color: #93772e;
  text-align: right;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-shadow: 0 0 black;
}

.test {
  cursor: pointer;
  color: white;
  text-align: center;
  margin-bottom: -1.5rem;
}

.flex_table {
  display: block;
  width: 81%;
  height: auto;
  margin-left: 9.5%;
  overflow: hidden;
  position: relative;
  align-content: center;
  background: black;
  opacity: 0.7;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.table_product {
  position: relative;
  align-content: center;
}
.contact_foot {
  display: flex;
  flex-wrap: wrap;
  background-color: #93772e;
  width: 90%;
  margin-left: 5%;
}
.insta_text {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.promo {
  font-style: italic;
  color: black;
}
.promo_review {
  line-height: 1.7rem;
  font-style: italic;
  font-weight: lighter;
  color: #93772e;
}
.insta_text_box {
  display: block;
  float: left;
  border-top: 0.3rem double black;
}
/* end of socials  */
/*footer details*/
.footer_copyright {
  list-style: none;
  display: inline;
  width: 100%;
  height: auto;
  text-align: center;
}
.footer_list_copyright {
  padding-left: 7.5rem;
  margin-top: 4rem;
  border-left: none;
  text-align: center;
  color: ghostwhite;
}
.contact_foot_number {
  padding-left: 0.02rem;
}
.footer_icon {
  margin-top: -1rem;
  margin-left: 2rem;
}
